@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@if (Model.IsLoggedIn)
{
    <div class="text-center">
        <h1 class="display-4">Welcome, @(User.GetBattleTag())</h1>
        @if (!string.IsNullOrWhiteSpace(Model.CharacterName))
        {
            <p>Current main: @Model.CharacterName.</p>
            <p>Click <a asp-area="" asp-page="/Setup/Characters">here</a> to change.</p>
        }
        else
        {
            <p>Click <a asp-area="" asp-page="/Setup/Characters">here</a> to pick a character as your main.</p>
        }
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Click <a asp-area="" asp-page="/Auth/Signin">here</a> to sign in (using Battle.net)</p>
    </div>
}