@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Select a expansion <a asp-area="" asp-page="/Setup/Expansion">here</a>.</p>
</div>
