@page "{id:int}"
@model Lootcouncil.Pages.Council.MeModel
@{
    ViewData["Title"] = "Council";
}

<h1>Currently showing council @(Model.Id)</h1>

<p>See list of all items in council</p>
<p>Select BiS / BiS from Raid / Major / Minor / OS for items</p>